.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

  .product img {
    width: 200px; /* حجم الصورة بالعرض */
    height: auto; /* تعديل الارتفاع بناءً على العرض المحدد */
  }

h3 {
  color: white; /* تعيين لون النص إلى الأبيض */
}


html, body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* تعيين لون خلفية شفاف لـ html و body */
}

.product h3 {
  color: white; /* تعيين لون النص "Product 1" إلى الأبيض */
}

body {
  background-image: url('https://wallpaperaccess.com/full/5927911.gif');
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  color: white; /* تعيين لون النص إلى الأبيض */
}



@keyframes slide {
  0% { background-position: 0 0; }
  100% { background-position: -200% 0; }
}


.close-cart {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.close-cart:hover {
  background-color: #b02a37;
}


.add-to-cart:hover {
  background-color: #000000;
  transform: scale(1.1); /* تحجيم أكبر عند التحويم */
}

.product:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.product {
  flex: 1 0 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0); /* تعيين لون خلفية شفاف لـ .product */
  border: 1px solid #ccc;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product p {
  color: white; /* تعيين لون الرقم إلى الأبيض */
}


.cart-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


.cart-remove {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
}

.cart-remove:focus {
  outline: none;
}

.cart-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-details {
  flex-grow: 1;
  text-align: left;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart {
  background-color: rgba(000, 000, 000,); /* تعيين لون خلفية شفافة خفيفة */
  border: 1px solid #ccc;
  padding: 20px;
}
.cart-text {
  color: white; /* تعيين لون النص إلى الأبيض */
}
.total-title {
  color: white; /* تعيين لون النص إلى الأبيض */
}


.cart-price {
  font-size: 16px;
  color: white; /* تعيين لون النص إلى الأبيض */
}

  font-size: 24px;
  font-weight: bold;

.total {
  display: flex;
  align-items: center;
}

.total-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}
